@using Kanban.ViewModels

@{
    ViewBag.Title = "Crear Tablero";
}

@model CrearTableroViewModel

<div class="container">
    <form asp-controller="Tablero" asp-action="CreateTablero" class="row">
        <input asp-for="@Model.IdUsuarioPropietario" hidden>
        <div class="col-6">
            <label asp-for="@Model.Nombre" class="form-label">Nombre</label>
                <input asp-for="@Model.Nombre" class="form-control">
        </div>
        <div class="col-6">
            <label asp-for="@Model.Descripcion" class="form-label">Descripcion</label>
                <input asp-for="@Model.Descripcion" class="form-control">
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-lg">Crear Tablero</button>
        </div>
    </form>
</div>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}