@using Kanban.ViewModels

@model CrearTableroViewModel

<form asp-controller="Tablero" asp-action="CreateTablero">
    <label asp-for="@Model.IdUsuarioPropietario">id usuario propietario</label>
        <input asp-for="@Model.IdUsuarioPropietario">
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion">
    <button type="submit">Crear Tablero</button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}