@using Kanban.ViewModels

@{
    ViewBag.Title = "Crear Tablero";
    @if(Context.Session.GetString("Rol") == "Administrador")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    } else 
    {
        Layout = "~/Views/Shared/_LayoutOperador.cshtml";
    }
}

@model CrearTableroViewModel

<h1>Crear Tablero</h1>

@if(@Model.Error != null)
{
    <p>@Model.Error</p>
}

<div class="container">
    <form asp-controller="Tablero" asp-action="CreateTablero" class="row">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="col-6">
            <label asp-for="@Model.Nombre" class="form-label">Nombre</label>
                <input asp-for="@Model.Nombre" class="form-control">
                <span asp-validation-for="@Model.Nombre" class="validation"></span>
        </div>
        <div class="col-6">
            <label asp-for="@Model.Descripcion" class="form-label">Descripcion</label>
                <input asp-for="@Model.Descripcion" class="form-control">
                <span asp-validation-for="@Model.Descripcion" class="validation"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.IdUsuarioPropietario">Asignar usuario</label>
                <select asp-for="@Model.IdUsuarioPropietario" class="form-select">
                    @foreach(var usuario in @Model.Usuarios)
                    {
                        <option value="@usuario.Id">@usuario.NombreDeUsuario</option>
                    }
                </select>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-crear mt-3">Crear Tablero</button>
        </div>
    </form>
</div>

@Html.ValidationSummary()

@section Scripts {<partial name="_ValidationScriptsPartial"/>}