@using Kanban.ViewModels

@{
    ViewBag.Title = "Listar Tableros";
    Layout = "~/Views/Shared/_LayoutOperador.cshtml";
}

@model ListarTablerosViewModel

<table>
    <caption>Mis Tableros</caption>
    <thead>
        <tr>
            <th hidden>Id</th>
            <th hidden>Id Usuario Propietario</th>
            <th>Nombre Usuario Propietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tablero in @Model.TablerosPropiosVM)
        {
            <tr>
            <td hidden>@tablero.Id</td>
            <td hidden>@tablero.IdUsuarioPropietario</td>
            <td>@tablero.NombreUsuario</td>
            <td>@tablero.Nombre</td>
            <td>@tablero.Descripcion</td>
            <td><a asp-controller="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.Id">Modificar</a></td>
            <td><a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id">Eliminar</a></td>
            <td><a asp-controller="Tarea" asp-action="ListarTareasPorTablero" asp-route-idTablero="@tablero.Id">Listar Tareas</a> </td>
            <td><a asp-controller="Tarea" asp-action="AltaTarea" asp-route-idTablero="@tablero.Id">Agregar Tarea</a></td>
            </tr>
        }
    </tbody>
</table>

<table>
    <caption>Tableros donde tiene tareas asignadas</caption>
    <thead>
        <tr>
            <th hidden>Id</th>
            <th hidden>Id Usuario Propietario</th>
            <th>Nombre Usuario Propietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var tablero in @Model.TablerosVM)
        {
            <tr>
            <td hidden>@tablero.Id</td>
            <td hidden>@tablero.IdUsuarioPropietario</td>
            <td>@tablero.NombreUsuario</td>
            <td>@tablero.Nombre</td>
            <td>@tablero.Descripcion</td>
            <td><a asp-controller="Tarea" asp-action="ListarTareasPorTablero" asp-route-idTablero="@tablero.Id">ListarTareas</a></td>
            <td><a asp-controller="Tarea" asp-action="MostrarTarea" asp-route-idTablero="@tablero.Id">Mi Tarea</a></td>
            </tr>
        }
    </tbody>
</table>