@using Kanban.ViewModels

@model TableroViewModel

<form asp-controller="Tablero" asp-action="UpdateTablero">
    <label asp-for="@Model.Id" hidden>Id</label>
        <input asp-for="@Model.Id" value="@Model.Id" hidden>
    <label asp-for="@Model.IdUsuarioPropietario" hidden>Id Usuario</label>
        <input asp-for="@Model.IdUsuarioPropietario" value="@Model.IdUsuarioPropietario" hidden>
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" value="@Model.Descripcion">
    <button type="submit">Modificar Tablero</button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}