@using Kanban.ViewModels

@{
    ViewBag.Title = "Crear Tarea";
}

@model CrearTareaViewModel

<div class="container">
    <form asp-controller="Tarea" asp-action="CreateTarea" class="row">
        <input asp-for="@Model.IdTablero" value="@Model.IdTablero" hidden>
        <div class="col-6">
            <label asp-for="@Model.Nombre" class="form-label">Nombre</label>
                <input asp-for="@Model.Nombre" class="form-control">
        </div>
        <div class="col-6">
            <label asp-for="@Model.Descripcion" class="form-label">Descripcion</label>
                <input asp-for="@Model.Descripcion" class="form-control">
        </div>
        <div class="col-6">
            <label asp-for="@Model.Color" class="form-label">Color</label>
                <input asp-for="@Model.Color" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.IdUsuarioAsignado">Asignar usuario</label>
                <select asp-for="@Model.IdUsuarioAsignado" class="form-select">
                    <option value="0">No asignada</option>
                    @foreach(var usuario in @Model.Usuarios.UsuariosVM)
                    {
                        <option value="@usuario.Id">@usuario.NombreDeUsuario</option>
                    }
                </select>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Estado">Estado</label>
                <select asp-for="@Model.Estado" class="form-select">
                    <option value="0">Ideas</option>
                    <option value="1">ToDo</option>
                    <option value="2">Doing</option>
                    <option value="3">Review</option>
                    <option value="4">Done</option>
                </select>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary mt-3">Crear Tarea</button>
        </div>
    </form>
</div>

@section Scripts {<partial name="_ValidationScriptsPartial"/>} 