@using Kanban.ViewModels

@{
    ViewBag.Title = "Crear Tarea";
}

@model CrearTareaViewModel

<form asp-controller="Tarea" asp-action="CreateTarea" method="post">
        <input asp-for="@Model.IdTablero" hidden>
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion">
    <label asp-for="@Model.Color">Color</label>
        <input asp-for="@Model.Color">
    <label asp-for="@Model.IdUsuarioAsignado">Asignar usuario</label>
        <select asp-for="@Model.IdUsuarioAsignado">
            @foreach(var usuario in @Model.Usuarios.UsuariosVM)
            {
                <option value="@usuario.Id">@usuario.NombreDeUsuario</option>
            }
        </select>
    <label asp-for="@Model.Estado">Estado</label>
        <input asp-for="@Model.Estado">
    <button type="submit">Crear Tarea</button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>} 