@using Kanban.ViewModels

@{
    ViewBag.Title = "Eliminar Tarea";
}

@model TareaViewModel

<form asp-controller="Tarea" asp-action="DeleteTarea" method="post">
        <input asp-for="@Model.Id" value="@Model.Id" hidden>
        <input asp-for="@Model.IdTablero" value="@Model.IdTablero" hidden>
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" value="@Model.Nombre">
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" value="@Model.Descripcion">
    <label asp-for="@Model.Color">Color</label>
        <input asp-for="@Model.Color" value="@Model.Color">
        <input asp-for="@Model.IdUsuarioAsignado" value="@Model.IdUsuarioAsignado" hidden>
    <label asp-for="@Model.Estado">Estado</label>
        <input asp-for="@Model.Estado" value="@Model.Estado">
    <button type="submit">Eliminar Tarea</button>
    <button type="button"><a asp-controller="Tarea" asp-action="ListarTareas">Cancelar</a></button>
</form>