@using Kanban.ViewModels

@{
    ViewBag.Title = "Eliminar Tarea";
    @if(Context.Session.GetString("Rol") == "Administrador")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    } else 
    {
        Layout = "~/Views/Shared/_LayoutOperador.cshtml";
    }
}

@model TareaViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table caption-top">
                <caption>Mi Tarea</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Color</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Nombre</td>
                        <td>@Model.Descripcion</td>
                        <td>@Model.Color</td>
                        <td>@Model.Estado</td>
                        <td>
                            <button type="submit" class="btn btn-modificar mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal-@Model.Id">
                                Eliminar Tarea
                            </button>
                            <div class="modal fade" id="exampleModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-@Model.Id" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel-@Model.Id">
                                                ¿Esta seguro de eliminar a @Model.Nombre?
                                            </h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-modificar" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-modificar px-2">
                                            <a class="btn btn-modificar" asp-controller="Tarea" asp-action="DeleteTarea" asp-route-idTarea="@Model.Id">
                                                Eliminar
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-cancelar mt-3 mr-3">
                            <a class="btn-link" asp-controller="Tarea" asp-action="ListarTareas">Cancelar</a>
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
