@using Kanban.ViewModels

@model ModificarTareaViewModel

<form asp-controller="Tarea" asp-action="UpdateTarea">
        <input asp-for="@Model.Id" value="@Model.Id" hidden>
        <input asp-for="@Model.IdTablero" value="@Model.IdTablero" hidden>
    <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" value="@Model.Nombre" readonly>
    <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" value="@Model.Descripcion" readonly="true">
    <label asp-for="@Model.Color">Color</label>
        <input asp-for="@Model.Color" value="@Model.Color" readonly>
    <label asp-for="@Model.Estado">Estado</label>
       <select asp-for="@Model.Estado">
        <option value="0">Ideas</option>
        <option value="1">ToDo</option>
        <option value="2">Doing</option>
        <option value="3">Review</option>
        <option value="4">Done</option>
       </select>
    <label asp-for="@Model.IdUsuarioAsignado">Asignar Usuario</label>
        <select asp-for="@Model.IdUsuarioAsignado">
            @foreach(var u in Model.Usuarios.UsuariosVM)
            {
                <option value="@u.Id">@u.NombreDeUsuario</option>
            }
        </select>
    <button type="submit">Modificar Tarea</button>
    <button type="button"><a asp-controller="Tarea" asp-action="ListarTareas">Cancelar</a></button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}