@using Kanban.ViewModels

@{
    ViewBag.Title = "Tarea";
    Layout = "~/Views/Shared/_LayoutOperador.cshtml";
}

@model TareaViewModel

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table caption-top">
                <caption>Mi Tarea</caption>
                <thead>
                    <tr>
                        <th>Tablero</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Color</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.NombreTablero</td>
                        <td>@Model.Nombre</td>
                        <td>@Model.Descripcion</td>
                        <td>@Model.Color</td>
                        <td>@Model.Estado</td>
                        <td><button type="button" class="btn btn-outline-modificar"><a class="btn-outline-modificar" asp-controller="Tarea" asp-action="ModificarTarea" asp-route-idTarea="@Model.Id">Modificar</a></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
