@using Kanban.ViewModels

@model CrearUsuarioViewModel

<form asp-controller="Usuario" asp-action="CrearUsuario">
    <label asp-for="@Model.NombreDeUsuario">Nombre de usuario</label>
        <input asp-for="@Model.NombreDeUsuario">
    <label asp-for="@Model.Contrasenia">Contraseña</label>
        <input asp-for="@Model.Contrasenia">
    <label asp-for="@Model.Rol">Rol</label>
        <input asp-for="@Model.Rol">
    <button type="submit">Crear Usuario</button>
</form>

@section Scripts {<partial name="_ValidationScriptsPartial"/>}