@using Kanban.ViewModels

@{
    ViewBag.Title = "Eliminar Usuario";
}

@model UsuarioViewModel

<form asp-controller="Usuario" asp-action="DeleteUsuario" method="post">
    <label asp-for="@Model.Id" hidden>Id</label>
        <input asp-for="@Model.Id" value="@Model.Id" hidden>
    <label asp-for="@Model.NombreDeUsuario">Nombre de usuario</label>
        <input asp-for="@Model.NombreDeUsuario" value="@Model.NombreDeUsuario">
    <button type="submit">Eliminar Usuario</button>
    <button type="button"><a asp-controller="Usuario" asp-action="ListarUsuarios">Cancelar</a></button>
</form>