@using Kanban.ViewModels

@model ListarUsuariosViewModel

<table>
    <thead>
        <th>Nombre de Usuario</th>
        <th>Rol</th>
    </thead>
    <tbody>
        <tr>
            <td>@Model.UsuarioLoggeado.NombreDeUsuario</td>
            <td>@Model.UsuarioLoggeado.Rol</td>
            <td><a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsuario="@Model.UsuarioLoggeado.Id">Modificar</a></td>
        </tr>
        @foreach(UsuarioViewModel usuario in @Model.UsuariosVM)
        {
            <tr>
                <td>@usuario.NombreDeUsuario</td>
                <td>@usuario.Rol</td>
                <td><a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsuario="@usuario.Id">Modificar</a></td>
                <td><a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>